.blogs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 8rem 0;
}

.blogs__title {
    font-size: var(--heading);

    font-weight: 600;
}

.blogs__blog {
    padding: 4rem 0;

    /* width: 80%; */
    width: 80%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: center;
    grid-gap: 50px;
    /* margin: 4rem 0; */
}

@media(max-width: 1200px) {
    .blogs__blog {
        width: 90%;
    }

    .blogs {
        /* margin: 4rem 0; */
    }

    .blogs__blog {
        grid-template-columns: 1fr 1fr;
        padding: 2rem 0;
    }
}

@media(max-width:640px) {
    .blog {
        margin: 2rem 0;
    }

    .blogs__blog {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        /* padding: 2rem 0; */
    }
}

@media(min-width: 1800px) {
    .blog__title {
        font-size: 2em;
    }

    .blog__content {
        font-size: 1.8em;
    }
}