.hero {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: var(--heading);
    user-select: none;
    position: relative;
    /* text-shadow: 0px 0px 150px rgba(255, 255, 255, 1); */
}

.hero h1 {
    margin: 0;
    font-size: 1em;
    font-weight: 100;
}

.hero__title {
    text-align: center;
    /* display: grid; */
    /* grid-template-rows: 1fr 1fr; */
    /* justify-items: center; */
    /* align-items: center; */
    /* width: 20%; */
    /* font-size: 2em; */
}

.gradient1 {
    width: 1100px;
    height: 1100px;
    z-index: 99;
    position: absolute;
    right: -50%;
    top: 50%;
    /* transform: translate(-50%, -50%); */
    border-radius: 50%;
    background: radial-gradient(circle, var(--dim-blue) 0%, transparent 100%);
}

.hero__special {
    animation: textGradient 3s linear infinite;
    background: var(--linear-gradient);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* white-space: nowrap; */
    font-weight: 500;
}

.hero__bottom {
    font-weight: 500;
    font-size: 1rem;
    bottom: 0;
    position: absolute;
    /* display: none; */
}


.bottom {
    bottom: 0%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(220, 3, 255, 0.1) 100%);
    /* animation: textGradient 3s linear infinite; */
    height: 40vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    /* animation: textGradient 3s infinite; */
    background-size: 200%;
    /* display: none; */
    /* background-size: 200%; */
    /* animation: motion 3s linear infinite; */
}

@keyframes motion {
    0% {

        /* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(220, 3, 255, 0.1) 100%); */
    }

    100% {
        /* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--blue) 100%); */
    }
}

@media(max-width:640px) {
    .hero {
        /* font-size: 1.6rem; */
    }

    .bottom {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(220, 3, 255, .1) 100%);
        /* height: 40vh; */
    }
}