.heroContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100svh;
}

.hero {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    row-gap: 40px;
    /* font-size: var(--heading); */
    user-select: none;
    position: relative;
    /* font-family: 'Gloock', serif; */
    position: relative;
    text-align: left;
    padding: 0 20px;
    /* background: linear-gradient(180deg, rgba(1, 1, 1, 1) 50%, transparent 100%); */
    /* font-size: 200%; */
    /* z-index: 9; */
    /* background-repeat: repeat; */
    /* object-fit: cover; */
    /* position: relative; */
    /* text-shadow: 0px 0px 150px rgba(255, 255, 255, 1); */
}

.heroImg {
    width: 20%;
}

.heroImgImg {
    /* aspect-ratio: 1; */
    width: 100%;
    /* height: 100%; */
    /* height: 200px; */
    border-radius: 15px;
    /* position: relative; */
    /* object-fit: cover; */
    /* overflow: hidden; */
    transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.imgContainer {
    width: fit-content;
    position: relative;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 5px; */
    cursor: pointer;

}

.imgContainer::before {
    transition: .3s;
    /* z-index: -1; */
    filter: blur(5px);
    /* border-radius: 10px; */
    border-radius: 12px;

    animation: textGradient 3s linear infinite;
    padding: 2px;
    z-index: -9 !important;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    /* background-color: rgb(27, 27, 27); */
    background: var(--linear-gradient);
    background-size: 200%;
}

.imgContainer::after {
    content: '';
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
    border-radius: 15px;
}

.heroImgImg2 {
    position: absolute;
    width: 100%;
    border-radius: 15px;
    z-index: -1;
    transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /* transform: translate(50px, 50px); */
}

.heroImgImg3 {
    position: absolute;
    width: 50%;
    border-radius: 15px;
    z-index: -1;
    transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /* transform: translate(50px, 50px); */
}

.imgContainer:hover .heroImgImg2 {
    transform: translate(-50%, -50%) rotate(-10deg);
}

.imgContainer:hover .heroImgImg3 {
    transform: translate(100%, 0%) rotate(-10deg);
}

.imgContainer:hover .heroImgImg {
    transform: translate(-50%, 50%) rotate(10deg);
}

.hero__title {
    /* width: 100%; */
}

.hero__quote {
    font-size: 1.2em;
    /* width: 20%; */
    display: inline;
    /* padding-left: 0.25em; */

}

.hero__quote::after {
    content: close-quote;
    font-size: 4em;
    line-height: 0.2em;
    margin-left: 0.25em;
    vertical-align: -0.4em;
    position: relative;
    animation: textGradient 15s linear infinite;
    animation-delay: 1s;
    background: var(--linear-gradient);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* content: '"'; */
    /* font-size: 2em; */

}

.hero__quote::before {
    /* color: #ccc; */
    content: open-quote;
    font-size: 4em;
    line-height: 0.2em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
    position: relative;
    animation: textGradient 15s linear infinite;
    animation-delay: 1s;
    background: var(--linear-gradient);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* content: '"'; */
    /* font-size: 2em; */
}

.current {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 1.2em;
}

.current div {
    display: flex;
    column-gap: 10px;
}

.country::before {
    /* content: url('/india.webp'); */
    /* width: 20px; */
    /* height: 20px; */
}

.currentBuilding::before {
    content: '🚀';
}

.currentAt::before {
    content: '💻';
}

.currentWorking::before {
    content: '👨‍💻';
}

.current a {
    color: var(--pink);
    /* text-decoration: none; */
}

.heroLinks {
    /* font-family: 'Syne', sans-serif; */
    /* position: absolute; */
    /* bottom: 10px; */
    /* right: 10px; */
    z-index: 9999999999;
    display: flex;
    /* justify-content: end; */
    column-gap: 40px;
}

.heroLinksLink {
    /* font-size: .5em; */
    text-decoration: none;
    color: white;
    z-index: 99;
    position: relative;
}

.heroLinksLink::after {
    content: '';
    /* width: 100%; */
    width: 0%;
    height: 2px;
    background: var(--linear-gradient);
    background-size: 200%;
    border-radius: 50px;
    position: absolute;
    bottom: -50%;
    left: 0;
    transition: .3s ease;
    animation: textGradient 3s linear infinite;
}

.heroLinksLink:hover::after {
    width: 100%
}

.hero h1 {
    /* position: relative; */
    margin: 0;
    /* font-size: 1.5em; */
    /* font-weight: 100; */
    z-index: 99;
}

.hero__special {
    position: relative;
    animation: textGradient 5s linear infinite;
    background: var(--linear-gradient);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* white-space: nowrap; */
    font-weight: 500;
    /* font-size: 3em; */
    /* text-align: right; */
    width: 100%;
    display: block;
    /* font-size: 2em; */
    color: white;
}

.hero__special--sub {
    position: relative;
    animation: textGradient 5s linear infinite;
    animation-delay: 1s;
    background: var(--linear-gradient);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero__title--text {
    font-size: 1.5em;
}

.hero__subtitle--text {
    font-size: 3em;
    font-weight: 600;
}

.hero__bottom {
    font-weight: 500;
    /* font-size: 1rem; */
    bottom: 0;
    position: absolute;
    /* display: none; */
}


.bottom {
    display: none;
    bottom: 0%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(220, 3, 255, 0.1) 100%);
    /* animation: textGradient 3s linear infinite; */
    height: 40vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    /* animation: textGradient 3s infinite; */
    background-size: 200%;
    /* display: none; */
    /* background-size: 200%; */
    /* animation: motion 3s linear infinite; */
}

@keyframes motion {
    0% {

        /* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(220, 3, 255, 0.1) 100%); */
    }

    100% {
        /* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--blue) 100%); */
    }
}

.hero__resume--title {
    /* font-size: .7em; */
    color: white;
    /* margin-top: 20px; */
    padding: 10px;
    background: rgba(255, 255, 255, .2);
    backdrop-filter: blur(.5px);
    text-decoration: none;
    text-align: center;
    /* width: 100%; */
    border-radius: 8px;
    /* display: none; */
    outline: 1px solid rgba(255, 255, 255, .6);
}

.currentStatus {
    padding: 10px;
    background-color: rgb(27, 27, 27, .2);
    border-radius: 10px;
    /* left: -10%; */
    /* top: 10%; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* height: auto; */
    /* width: 90%; */
    text-align: center;
    /* z-index: 99 !important; */
    /* position: relative; */
    box-shadow: 0px 5px 23px -5px rgb(0 0 0 / 75%);
    -webkit-box-shadow: 0px 5px 23px -5px rgb(0 0 0 / 75%);
    -moz-box-shadow: 0px 5px 23px -5px rgba(0, 0, 0, 0.75);
    /* transition: .3s; */
    /* margin: 2rem 0; */
    /* background: rgba(255, 255, 255, 0.1); */
    /* -webkit-backdrop-filter: blur(5px); */
    /* backdrop-filter: blur(5px); */
    /* border: 1px solid rgba(255, 255, 255, .1); */
    border: 1px solid white;
    transition: .3s !important;

    position: absolute;
    bottom: 10%;
    font-size: 18px;
    text-align: center;
    color: white;
    font-weight: 100;
    line-height: 25px;
    text-decoration: none;

}

.currentStatus:hover {
    background: rgba(27, 27, 27);

}


@media(max-width:1000px) {

    .heroImg {
        display: none;
    }
}

@media(max-width:640px) {
    .hero {
        width: 100%;
        height: 100%;
        margin-top: 2em;
    }


    .hero__resume--title {
        display: block;
    }

    .heroLinks {
        right: 10px;
    }

    .hero {
        width: auto;
        /* margin-top: 50px; */
        padding: 0 20px;
        /* font-size: 1.6rem; */
    }

    .hero h1,
    .hero__special {
        font-size: 2em;
    }

    .bottom {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(220, 3, 255, .1) 100%);
        /* height: 40vh; */
    }

    .currentStatus {
        font-size: 15px;
        padding: 5px;
    }
}

@media(max-width: 440px) {
    .currentStatus {
        font-size: 12px;
        padding: 5px;
        line-height: 20px;
        bottom: 10%;
    }

    .hero__quote {
        font-size: 1em;
        /* line-height: ; */
    }

    .hero__quote::before,
    .hero__quote::after {
        font-size: 2em;
    }

    .hero {
        margin-top: 6em;
    }
}

@media(max-width: 350px) {
    .currentStatus {
        font-size: 12px;
        padding: 5px;
        line-height: 20px;
        bottom: 5%;
    }
}

.hero__logos--img {
    position: absolute;
    width: 80px;
}


.cursor {
    position: absolute;
    z-index: 999999999;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, .7);
    backdrop-filter: blur(5px);
    border-radius: 50%;
}

.cursorWord {
    /* font-size: .8em; */
    /* color: black; */
}


@media(min-width: 1800px) {
    .hero__title {
        font-size: 1.2em !important;
    }

    .heroLinksLink {
        font-size: 1em;
    }
}