@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black:
    #0b3b61, --red: #ff3a3a, --green: #52ffd0, --yellow: #fff383,
    --blue: #1376f9, --purple: #c792ea, --cyan: #ff5ed4, --white: #16fda2,
    --brightBlack: #63686d, --brightRed: #ff54b0, --brightGreen: #74ffd8,
    --brightYellow: #fcf5ae, --brightBlue: #388eff, --brightPurple: #ae81ff,
    --brightCyan: #ff6ad7, --brightWhite: #60fbbf, --background: #010c18,
    --foreground: #ecdef4, --selectionBackground: #38ff9c,
    --cursorColor: #38ff9d;
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.markdown > * {
  all: revert;
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.markdown a,
.link {
  color: #388eff !important;
  text-decoration: underline !important;
}

.markdown strong {
  color: #5da602 !important;
}
