@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: "#546e7a";
  --red: "#ff5370";
  --green: "#c3e88d";
  --yellow: "#ffcb6b";
  --blue: "#82aaff";
  --purple: "#c792ea";
  --cyan: "#89ddff";
  --white: "#ffffff";
  --brightblack: "#546e7a";
  --brightred: "#ff5370";
  --brightgreen: "#c3e88d";
  --brightyellow: "#ffcb6b";
  --brightblue: "#82aaff";
  --brightpurple: "#c792ea";
  --brightcyan: "#89ddff";
  --brightwhite: "#ffffff";
  --background: "#0f111a";
  --foreground: "#8f93a2";
  --selectionbackground: "#1f2233";
  --cursorcolor: "#ffcc00";
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.markdown > * {
  all: revert;
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
