.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
}

.navbar__logo {
    width: 40px;
}

.navbar__ham {
    display: none;
}

.hamburger {
    display: none;
    z-index: 9999999999;
}

.hamburger__line1 {
    width: 40px;
    height: .5px;
    background: white;
    margin: 15px;
}

.hamburger__line2 {
    width: 20px;
    height: 1px;
    margin: 15px;
    background: white;
}

@media(max-width: 1000px) {
    .navbar {
        position: fixed;
        width: 100%;
        z-index: 999999;
    }

    .navbar__link {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .navbar__ham {
        display: flex;
        /* display: none; */
        position: fixed;
        top: 0;
        right: 0;
        /* left: 0; */
        width: 50vw;
        padding-top: 3em;
        background: var(--background-color);
        /* background: grey; */
        height: 100vh;
        z-index: 1;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        text-align: center;
        font-size: 1.1rem;
        transform: translateX(100%);
        opacity: 0;
        transition: .5s ease-in-out;
        z-index: 9999;
    }

    .ham-on {
        opacity: 1;
        transform: translateX(0);
        /* display: flex; */
    }

    .navbar__ham .navbar__link {
        /* display: block; */
        width: 100%;
        margin: 20px 0;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .navbar__ham .navbar__link::after {
        content: '';
        z-index: -1;
        width: 50%;
        height: 1px;
        background: var(--linear-gradient);
        background-size: 200%;
        border-radius: 50px;
        position: absolute;
        bottom: -50%;
        right: -50%;
        transform: translate(50%, 50%);
        transition: .3s ease;
        animation: textGradient 3s linear infinite;

    }

    .navbar {
        justify-content: space-between;
        padding: 10px;
    }
}